@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

html,
body {
  font-size: 16px;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  background: #596880;
}

.container {
  max-width: 960px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active,
button:hover,
button:active {
  color: rgba(255, 255, 255, 1);
}

button,
.btn {
  background: none;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
/* ------------ */

header {
  padding: 40px 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #596880;
  z-index: 2;
}

main {
  padding: 130px 0;
}

.menu {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-items: center;
  gap: 40px;
}

/* nav::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
} */

.menu .active {
  color: rgba(255, 255, 255, 1);
}

.menu .btn::before {
  content: "\23e4  ";
  opacity: 0;
}

.menu .btn::after {
  content: "  \23e4";
  opacity: 0;
}

.menu .active::before {
  content: "\23e4  ";
  opacity: 1;
}

.menu .active::after {
  content: "  \23e4";
  opacity: 1;
}

section li {
  list-style-position: inside;
  margin-bottom: 15px;
  position: relative;
  padding-left: 15px;
}

section li::before {
  display: inline-block;
  position: absolute;
  content: "•";
  left: 1.6px;
  top: auto;
}

section li.inprogress {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 17px;
  /* text-decoration: underline 1px;
  text-underline-offset: 2px; */
}

section li.inprogress::before {
  overflow: hidden;
  left: 0;
  content: "\00d7";
  color: rgba(255, 255, 255, 0.7);
  width: 0.266rem;
}

section li.done {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 17px;
}

section li.done::before {
  left: 0;
  content: "\00d7";
  color: rgba(255, 255, 255, 0.4);
}

.li-controls {
  margin: 15px 0 20px;
  display: flex;
  gap: 30px;
}

.li-controls button {
  font-style: italic;
}

.btn-delete {
  margin-right: 40px;
}

.btn-float {
  font-size: 20px;
  font-style: italic;
  position: fixed;
  bottom: 50px;
  left: auto;
  right: auto;
  top: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #596880;
  z-index: 2;
}

.managing-task {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #596880;
  z-index: 3;
  width: 100vw;
  height: 100vh;
}

.task-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  height: 100vh;
  gap: 20px;
  padding-top: 200px;
}

textarea {
  flex-basis: 100%;
  font-size: 20px;
  text-align: center;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  background: none;
  border: none;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-style: italic;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
}

.managing-task .btn-confirm {
  font-size: 20px;
  font-style: italic;
  width: 100%;
  display: none;
}

.managing-task .btn-close {
  position: absolute;
  right: 30px;
  top: 0;
  transform: rotate(45deg);
  font-size: 60px;
  color: rgba(255, 255, 255, 0.3);
}

.managing-task .btn-close:hover {
  color: rgba(255, 255, 255, 0.7);
}
